%h2
  %span.highlight Call

%dl
  %dt User
  %dd= @incoming_call.user
  %dt When
  %dd= time_ago_in_words(@incoming_call.created_at) + " ago"

%table.incoming-calls
  %thead
    %tr
      %th{width: "20px;"} #
      %th Response
  %tbody
    - @incoming_call.responses.order(created_at: :asc).each_with_index do |response, index|
      %tr
        %td= index + 1
        %td.response
          .prompt
            .scenario-name= response_scenario_name(response).downcase
            .prompt-content= response.prompt.content
          - if response.recording_mp3_url
            .response-audio= audio_tag(response.recording_mp3_url, controls: true)
          - else
            .response-audio-missing Nothing recorded.
