%h2 Sign up

- resource.password_required = true

= simple_form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
  = devise_error_messages!

  = f.input :first_name, autofocus: true
  = f.input :last_name

  = f.input :phone_number

  = f.input :password, hint: user_password_input_hint(@minimum_password_length, @validatable), required: resource.password_required
  = f.input :password_required, as: :hidden

  = f.submit "Sign up"

= render "devise/shared/links"
