%h2= @practice_phone_number.name

%dl
  %dt Owner
  %dd= @practice_phone_number.owner
  %dt Users
  %dd
    %ul
      - @practice_phone_number.user_practice_phone_numbers.select do |uppn|
        - uppn.user != @practice_phone_number.owner
      - end.each do |user_practice_phone_number|
        %li
          = user_practice_phone_number.user
          = link_to "remove", user_practice_phone_number_path(user_practice_phone_number), method: :delete, rel: "nofollow", class: "delete"

      - @user_practice_phone_number = UserPracticePhoneNumber.new(practice_phone_number: @practice_phone_number)
      - @user_practice_phone_number.build_user

      = simple_form_for @user_practice_phone_number do |f|
        = f.input :practice_phone_number_id, as: :hidden
        = f.fields_for :user do |f|
          = f.input :phone_number, placeholder: "Add an additional user.", label: false
        = f.submit "Add user"
  %dt Scenarios
  %dd
    %ol.scenarios
      - @practice_phone_number.scenarios.rank(:sequence).each do |scenario|
        %li
          = scenario
    - @scenario = @practice_phone_number.scenarios.new
    = simple_form_for @scenario do |f|
      = f.input :practice_phone_number_id, as: :hidden
      = f.input :name, label: false, placeholder: "Add another scenario."
      = f.submit "Add scenario"
