.practice_phone_number_header
  %h2.practice-phone-number
    %span.highlight= @practice_phone_number.name
  = link_to "Edit", "#", class: "edit_practice_phone_number"

= simple_form_for @practice_phone_number, html: { class: "hidden edit_practice_phone_number" } do |f|
  = f.input :name, label: false
  = f.submit "Update practice phone number"

%dl
  %dt Number
  %dd= @practice_phone_number.phone_number
  %dt Owner
  %dd= @practice_phone_number.owner
  %dt Users
  %dd
    %ul
      - @practice_phone_number.user_practice_phone_numbers.select do |uppn|
        - uppn.user != @practice_phone_number.owner
      - end.each do |user_practice_phone_number|
        %li
          = user_practice_phone_number.user
          = link_to "remove", user_practice_phone_number_path(user_practice_phone_number), method: :delete, rel: "nofollow", class: "delete", data: { confirm: "Are you sure?" }

      - @user_practice_phone_number = UserPracticePhoneNumber.new(practice_phone_number: @practice_phone_number)
      - @user_practice_phone_number.build_user

      = simple_form_for @user_practice_phone_number do |f|
        = f.input :practice_phone_number_id, as: :hidden
        = f.fields_for :user do |f|
          = f.input :phone_number, placeholder: "Add an additional user.", label: false
        = f.submit "Add user"
  %dt Scenarios
  %dd
    %ol.scenarios
      - scenarios_ranked = @practice_phone_number.scenarios.rank(:sequence).to_a
      - scenarios_ranked.each do |scenario|
        %li.scenario
          = scenario
          %span.links
            = link_to "edit", "#", class: "edit_scenario"
            = link_to "del", scenario_path(scenario), method: :delete, rel: "nofollow", data: { confirm: "Are you sure?" }
            - unless scenarios_ranked.first == scenario
              = link_to "&uarr;".html_safe, scenario_path(scenario, scenario: { sequence_position: "up" }), method: :patch, rel: "nofollow"
            - unless scenarios_ranked.last == scenario
              = link_to "&darr;".html_safe, scenario_path(scenario, scenario: { sequence_position: "down" }), method: :patch, rel: "nofollow"
          = simple_form_for scenario, html: { class: "hidden edit_scenario" } do |f|
            = f.input :name, label: false
            = f.submit "Update"

          %ol.prompts
            - prompts_ranked = scenario.prompts.rank(:sequence).to_a
            - prompts_ranked.each do |prompt|
              %li.prompt
                = prompt
                %span.links
                  = link_to "edit", "#", class: "edit_prompt"
                  = link_to "del", prompt_path(prompt), method: :delete, rel: "nofollow", data: { confirm: "Are you sure?" }
                  - unless prompts_ranked.first == prompt
                    = link_to "&uarr;".html_safe, prompt_path(prompt, prompt: { sequence_position: "up" }), method: :patch, rel: "nofollow"
                  - unless prompts_ranked.last == prompt
                    = link_to "&darr;".html_safe, prompt_path(prompt, prompt: { sequence_position: "down" }), method: :patch, rel: "nofollow"
                = simple_form_for prompt, html: { class: "hidden edit_prompt" } do |f|
                  = f.input :content, label: false, as: :string
                  = f.submit "Update"
          = simple_form_for scenario.prompts.new do |f|
            = f.input :scenario_id, as: :hidden
            = f.input :content, as: :string, label: false, placeholder: "Add another prompt."
            = f.submit "Add prompt"
    = simple_form_for @practice_phone_number.scenarios.new do |f|
      = f.input :practice_phone_number_id, as: :hidden
      = f.input :name, label: false, placeholder: "Add another scenario."
      = f.submit "Add scenario"
