%h2
  %span.highlight Prompt

%h3= link_to @prompt.practice_phone_number, @prompt.practice_phone_number
%h4= @prompt.scenario.name

%p= @prompt.content

- responses = @prompt.responses.order(created_at: :desc)

- if responses.empty?
  .flash.notice No responses have been received for this prompt.
- else
  %table
    %thead
      %tr
        %th Responses
    %tbody
      - responses.each do |response|
        %tr
          %td.response
            .user
              - if response.user == current_user
                %span.me me
              = response.user
            .created-at= time_ago_in_words(response.created_at) + " ago"
            - if response.recording_mp3_url
              .response-audio= audio_tag(response.recording_mp3_url, controls: true)
            - else
              .response-audio-missing Nothing recorded.
