%header.centered-navigation
  .centered-navigation-wrapper
    = link_to image_tag("call_for_practice_icon_64x64.png"), root_path, class: "mobile-logo"
    %a.centered-navigation-menu-button{href: ""} MENU
    %ul.centered-navigation-menu
      %li.nav-link.logo
        = link_to root_path, class: "logo" do
          = image_tag "call_for_practice_icon_64x64.png"
      %li.nav-link.more
        %a{href: "javascript:void(0)"} User
        - if user_signed_in?
          %ul.submenu
            %li= link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          %ul.submenu
            %li= link_to "Sign in", new_user_session_path
            %li= link_to "Register", new_user_registration_path
      %li.nav-link
        = link_to "Practice", practice_phone_numbers_path
      %li.nav-link
        %a{href: "javascript:void(0)"} Pricing
      %li.nav-link
        %a{href: "javascript:void(0)"} GitHub
