!!! 5
%html
  %head
  %title Call for Practice
  %link{href: 'http://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,600,700', rel: 'stylesheet', type: 'text/css'}
  = stylesheet_link_tag "application", media: "all"
  = javascript_include_tag "application"
  = csrf_meta_tags
  %meta{name: "viewport", content: "width=device-width"}


  %body
    .container
      = render "application/header"
      = render "application/flash", flash: flash

      = yield

      = render "application/footer"
